
@media screen and (min-width: 321px) and (max-width: 480px){
.container{
  margin: auto;
  width: 100%;
}
figure{
  background-color: #F2EDED;
  border: 1px solid white;
  text-align: center;
  padding: 10px;
  margin: 30px;
  max-width: 100%;
}
#centro-distribuicao{
	margin: 0 auto;
	max-width: 34.375em;
	width: 100%;
}
#familia-teles{
  float: none;
	margin-bottom: 0.625em;
	margin-right: 0.625em;
}

#diferenciais ul li{
  margin-top: 0.938em;
	margin-left:  3.750em;
	list-style: square;
}
footer{
  color:  #ccc;
  margin: 30px 0px;
  background-image: url("../imagem/fundo-rodape.png");
  clear: both;
}
.caixa-footer{
  position: relative;
  padding: 20px;
  width: 100%;
}

.social a{
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  display: inline-block;
}
.social a[href="http://www.facebook.com/gkfashion"]{
  background: url("../imagem/sociais.png") 0 0;
}
.social a[href="http://www.twitter.com/gkfashion"]{
  background: url("../imagem/sociais.png") 32px 0;
}
.social a[href="http://plus.google.com/gkfashion"]{
  background: url("../imagem/sociais.png") 76px 0;
}
.social{
  position: absolute;
  top: 30px;
  right: 20px;
}
.social li{
  display: inline;
}
  .sacola{
    background-image: url("../imagem/sacola.png");
    background-repeat: no-repeat;
    text-align: right;
    background-position: right;
    width: 8.75em;
    position: absolute;
    padding-right: 50px;
    top: 0px;
    right: 0px;
    max-width: 100%;
  }

.menu-principal{
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.menu-principal li{
  display: inline;
  padding: 15px;
}
.novidades {
	width: 440px;
	float: left;
	background-color: #f5dcdc;
  background: linear-gradient(#f5dcdc, #bebef4);
	box-shadow: 10px 10px 10px rgba(0,0,0,0.30);
  border-radius: 10px;
  max-width: 100%;
}
.mais-vendidos {
  width: 440px;
	float: right;
	background-color: #dcdcf5;
  background: linear-gradient(#dcdcf5, #f4bebe);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.30);
	margin-right: 10px;
  border-radius: 10px;
  max-width: 100%;
}

.paineis li{
	display: inline-block;
	vertical-align: top;
  width: 140px;
	height: auto;
	margin: 2px;
	-webkit-transition:	all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}
.busca, .menu-departamentos{
  background-color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-right: 10px;
  width: 230px;
  float: left;
}
.busca input[type="search"]{
  width: 170px;
  height: 25px;
  border-radius: 10px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
}

input[type=submit] {
  width: 100%;
  background-color: #808080;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
}

input[type=submit]:hover {
  background-color: #ccc;

}

form {
  margin: 30px auto auto auto;
  padding: 0px 20px 0px 20px;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;

}
}
